<div class="splash" style="display: none;">
	<input id="homeInput" class="topInput" type="text" name="homeT" value="Home"><br>
	<input id="awayInput"class="bottomInput" type="text" name="awayT" value="Away"><br>	
	<div class="nameSubmit">SUBMIT</div>
</div>
<div class="umpCount">
	<table>
		<tr class="firstRow gameRow">
			<td class="strikesTd">Strikes
				<p class="strikes">0</p>
			</td>
			<td class="ballsTd">Balls
				<p class="balls">0</p>
			</td>
			<td>
			<div class="clear">CLEAR
			</div>
			<div class="undo">UNDO
			</div>
			</td>
		</tr>
		<tr class="secondRow gameRow">
			<td class="outsTr">OUTS
				<p class="outs">0</p>
			</td>					
			<td class="inningTr">INNING
				<p class="inning">0</p>
			</td>
		</tr>
		<tr class="thirdRow gameRow">
			<td class="awaySTr">
				<p class="away names">Away</p>
				<p class="awayS score">0</p>
			</td>			
			<td class="homeSTr">
				<p class="home names">Home</p>
				<p class="homeS score">0</p>
			</td>
		</tr>
		<tr class="fourthRow">
			<td class="indexPage">Index</td>
			<td class="saveGame">SAVE</td>
		</tr>
	</table>
</div>