body {
  background-color: #d9d9d9;
}
.umpCount {
	width: 320px;
	height: 580px;
	font-size: 24px;
	text-align: center;
  padding: 10px;
}

.umpCount div div{
	border: 1px solid gray;
}

.row {
  /*margin: 20px 0 0 0;*/
}

.row div {
  padding: 20px;
}
.nameTeams p {
  font-size: 16px;
  margin-top: 6px;
}

.nameTeams {

}

.selectGame {
  position: relative;
}

.selectButton {
  position: absolute;
  height: 80px;
  width: inherit;
  display: none;
}

.myGame {
  height: 80px;
}

.resumeButton {
  background-color: blue;
  height: 80px;
  font-size: 32px;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}

.resumeButton a:hover {
  color: white;
  text-decoration: none;
}
.resumeButton a:visited {
  color: white;
  text-decoration: none;
}
.resumeButton a:link {
  color: white;
  text-decoration: none;
}
.resumeButton a:active {
  color: white;
  text-decoration: none;
}
.deleteGame {
  color: white;
  background-color: red;
  height: 80px;
  font-size: 32px;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}

.watchButton {
  height: 80px;
  font-size: 48px;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
  background-color: green;
}

.watchButton a:hover {
  color: white;
  text-decoration: none;
}
.watchButton a:visited {
  color: white;
  text-decoration: none;
}
.watchButton a:link {
  color: white;
  text-decoration: none;
}
.watchButton a:active {
  color: white;
  text-decoration: none;
}
.smallText {
  font-size: 10px;
}
.container > .row {
  background-color: white;
}
.container div table {
  margin-bottom: 16px;
}

.nav {
  padding: 16px 0 0 16px;
}

td, th {
  padding: 8px 16px 0 8px;
  width: 25%;
}

table {
	width: 100%;
  border: 1px solid grey;
}

.names {
  overflow: scroll;
  white-space: nowrap;
}