.umpCount {
	width: 320px;
	height: 580px;
	font-size: 24px;
	text-align: center;

}

.umpCount div div{
	border: 1px solid black;
}

.nameTeams p {
  font-size: 16px;
  margin-top: 6px;
}

.nameTeams {

}

.container div {
  padding: 16px 16px 0 16px;
  margin-bottom: 0;
}

.container div table {
  margin-bottom: 16px;
}

.navbar div {
  margin-left: 16px;
  padding: 0;
}

td, th {
  padding: 8px 16px 0 8px;
  width: 25%;
}

table {
	width: 100%;
  border: 1px solid grey;
}

.names {
  overflow: scroll;
  white-space: nowrap;
}