

/*body {
	background-color: black;
	color: white;
	width: 320px;
}

td {
	font-size: 20px;
	width: 320px;
	height: 150px;
}

p {
	font-size: 50px;
}
input {
	font-size: 30px;
	width: 250px;
	color: black;

}
.topInput{
	margin-top: 100px;
	margin-bottom: 5px;
}
.names {

}

div {

	margin: 0 auto;
	text-align: center;
}
.invisible {
	visibility: hidden;
}
.reset {
  	text-align: center; 
  	vertical-align: top;
  	font-size: 30px;
  	width: 100px;
  	padding-bottom: 50px;
  	padding-top: 10px;
}
.active {
	color: red;
}
.splash {
	position: fixed;
	text-align: center;
	width: 300px;
	height: 580px;
	opacity: 100;

}
.umpCount {
	
}
.nameSubmit {
	height: 100px;
	width: 250px;
	background-color: #B2B2B2;
	font-size: 50px;
	vertical-align: middle;
	margin-bottom: 60px;
	margin-top: 80px;
}
.enterNames {
	text-align: center;
	vertical-align: top;
	width: 100px;
	font-size: 30px;
}
.firstRow {
	height: 150px;
	padding-top: 15px;
}
.clear {
	vertical-align: middle;
	height: 109px;
	line-height: 109px;
	font-size: 20px;
}
.firstRow div {
	float: left;
	width: 100px;
}
.strikesTr {
	font-size: 20px;
}
.ballsTr {
	font-size: 20px;
}
.inning {
	font-size: 40px;
}*/