	<% if !@source %>
		<div class="container">
		<div class="row nav">
			<div class="col-xs-4 col-md-3">
			<% if current_user %>
				<%= link_to("new game", new_game_path) %>
			<% end %>
			</div>
			<div class="col-xs-4 col-md-3">
			<% if current_user %>
				<%= link_to "log out", destroy_user_session_path, method: :delete %>
			<% else %>
				<%= link_to "log in", new_user_session_path %>
			<% end %>
			</div>
		</div>
		</div>
	<% end %>